.tagForm {
    width: 18%;
    display: inline-block;
    padding-left: 13px;
}
.tagForm2 {
    padding-left: 2px;
}
.mybt {
    margin-left: 15px;
}
.mytb {
    width: 80%;
    margin: 0 auto;
}
.pointer {
    cursor: pointer!important;
}
